@import "../../index.less";

.paypal-advantages {
  padding: 30px 0px;
  .main-page__margin();
  display: block;

  .list-title {
    font-size: 24px;
    padding: 20px 20px;
    color: @dark-grey;

    span {
      font-weight: 500;
    }
  }
}
