@import "../../index.less";

.nav-bar {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    .nav-group,
    .nav-group__user {
      margin: 0;
    }
    .logo {
      max-width: 100px;
      align-items: center;
    }
  }
  padding: 20px 10px;
  .main-page__margin();

  .nav-item {
    cursor: pointer;
    &:hover {
      color: @baby-blue;
    }

    img {
      width: 14px;
    }

    .language {
      margin: auto 5px;
    }
  }
  .nav-group {
    display: flex;
    margin: auto auto auto 30px;
    flex: 2;
  }

  .nav-group__user {
    display: flex;
    margin: auto;
    flex: 1;
  }
}
