@import "../../index.less";

.purchase-information {
  background-color: @light-blue;
  .purchase-information__content {
    .main-page__margin();
    display: block;

    .title {
      font-size: 24px;
      padding: 50px 0px 10px 0px;
      margin: 10px 0px;
      color: @dark-grey;
    }

    .image-block {
      display: flex;
    }

    .paragraph {
      padding: 20px 0px;
      .primary-bold {
        color: @primary-blue;
      }
    }

    .paypal-banner {
      text-align: center;
      img {
        margin: auto;
        padding: 40px;
        width: 80%;
      }
    }
  }
}
