@import "../../index.less";

.flight-search {
  background-image: linear-gradient(
      rgba(66, 132, 185, 0.76),
      rgba(66, 132, 185, 0.76)
    ),
    url("../../../images/altair-bkg.jpg");

  .content {
    color: @white;
    height: 380px;
    .main-page__margin();

    .hero-title {
      font-size: 25px;
      font-style: italic;
      text-align: center;
      padding: 50px 0px;
      font-weight: bold;
    }

    .flight-search__widget {
      .flight-types {
        padding: 20px 0;
      }

      .search-flights {
        margin-top: 20px;
        float: right;
        padding: 15px 30px;
        color: @white;
        background-color: @orange;
        font-size: 20px;
        border: none;
        border-radius: 2px;
        cursor: pointer;

        span {
          margin-right: 15px;
        }

        &:hover {
          background-color: @dark-orange;
        }
      }
    }
  }
}
