@import "../../index.less";

.paypal-hero {
  background-color: @light-blue;
  .hero-content {
    display: flex;
    padding: 40px;
    .main-page__margin();

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }

    img {
      max-width: 200px;
    }
    .slogan {
      margin-left: 40px;
      .title {
        font-size: 26px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: @primary-blue;
      }

      .values {
        font-size: 20px;
        color: @pale-blue;
      }
    }
  }
}
