@import "../../index.less";

.check-mark__list {
  display: flex;
  margin-left: 30px;
  margin-bottom: 20px;

  .list-item {
    margin-left: 20px;

    .primary-bold {
      color: @primary-blue;
    }
  }
}
