@import "../../index.less";

.paypal-faqs {
  .main-page__margin();
  padding: 20px 0px;
  text-align: center;
  .faqs-title {
    padding: 20px 0px;
    text-transform: uppercase;
    color: @primary-blue;
    font-size: 28px;

    .highlight {
      color: @baby-blue;
    }
  }
}
