@import "../../index.less";

.reviews {
  background-color: @light-blue;
  padding: 20px 0px;
  .reviews-content {
    .main-page__margin();
    text-align: center;
    .title {
      color: @primary-blue;
      font-size: 26px;
      padding: 20px 0px;
      text-transform: uppercase;

      .baby-blue {
        font-weight: bold;
        color: @baby-blue;
      }
    }
  }
}
