@import "../../index.less";

.paypal-signin {
  display: flex;
  cursor: pointer;
  margin-right: 20px;
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .paypal-login__image {
    background-color: @primary-blue;
    width: 280px;
    height: 100%;
    margin: auto;

    text-align: center;

    img {
      width: 70%;
      padding: 30px;
    }
    .signin-button {
      padding: 10px 30px;
      margin: auto;
      display: inline-block;
      color: @white;
      border: 2px solid @white;
      text-transform: uppercase;
    }
  }
}
