@grey: grey;
@dark-grey: rgb(90, 90, 90);
@white: white;
@orange: rgb(255, 115, 0);
@dark-orange: rgb(255, 140, 45);
@primary-blue: rgb(0, 65, 161);
@pale-blue: rgb(50, 130, 184);
@light-blue: rgb(234, 242, 247);
@baby-blue: rgb(0, 149, 248);
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  margin: 0px;
  color: @grey;
}

.main-page__margin() {
  margin: auto;
  max-width: 900px;
}

.check {
  transform: rotate(45deg);
  height: 14px;
  width: 8px;
  border-bottom: 2px solid @primary-blue;
  border-right: 2px solid @primary-blue;
}
