@import "../../index.less";

.flight-options {
  .input-fields {
    display: inline-flex;
    flex-direction: column;
    width: 20%;

    span {
      font-size: 14px;
      height: 17px;
    }

    input {
      font-family: inherit;
      height: 20px;
      padding: 10px 5px;
      border-right: 1px solid #c7c7c7 !important;
      border: none;
    }
  }
}
